
<header class="site-header">
  <div class="container header__inner">
    <a href="/" class="header__logo-wrap">
      <img src="{{ directory }}/images//assets/myeventlanelogo.jpeg" alt="MyEventLane Logo" class="header__logo" />
    </a>
    <nav class="header__nav">
      <a href="/user/login">Log in</a>
      <a href="/user/register">Sign up</a>
    </nav>
  </div>

</header>
